{# templates/login.html #}
{% if erro == 1 %}
    Usuário ou senha inválidos! 😯
{% elseif erro == 2 %}
    Você está tentando acessar uma página restrita, safadinho! 😒
{% elseif erro == 3 %}
    Senha alterada com sucesso. Vê se não esquece agora, imbecil. 🥰🥰🥰
{% endif %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <link rel="stylesheet" href="style/style.css">
    <title>Desenvolvimento</title>
</head>

<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="login_verifica.php" method="POST">
                    <h2>Login</h2>
                    <div class="inputbox">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text" name="nome" required>
                        <label for="nome">Nome</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="pass" required>
                        <label for="pass">Senha</label>
                    </div>

                    <button>Logar</button>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>