{# templates/usuario_ver.html #}
{% extends "inc/base.html" %}

{% block conteudo %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <link rel="stylesheet" href="style/style.css">
    <title>Desenvolvimento</title>
</head>
	<section>
        <div class="form-box">
            <div class="form-value">
                <form action="usuario_atualizar.php" method="POST">
					<input type="hidden" name="id" value="{{usuario.id}}">
                    <h2>Alterar dados do {{usuario.nome}}</h2>
                    <div class="inputbox">
						Nome:
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text" name="nome" value="{{usuario.nome}}" required>
                    </div>
                    <div class="inputbox">
						E-mail:
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="text" name="email" value="{{usuario.email}}" required>
                    </div>

                    <button>Logar</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

